<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.testListener"/>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="login-page-test">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="checkMediaIcons"/>
                    <include name="loginApplication"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>